<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <h1><a href="index.cgi"><%= @title %></a></h1>
    <div>
      <ul>
        <% @books.each do |book| %>
        <li><a href="index.cgi?id=<%= book["id"] %>"><%= title_with_vol(book) %></a> (<%= book["author"] %>)</li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
